.spinner-chart {
    width: 30px;
    height: 30px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #060707;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-bottom: 10px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading-indicator-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin-top: 2rem;
    height: 150px;
  }

  .error-message-chart {
    color: #e74c3c;
    text-align: center;
    margin-top: 7rem;
  }
  
  .error-message-chart button {
    background: #050505;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .error-message-chart button:hover {
    background: #3f4041;
  }
