<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<Server xmlns="http://wso2.org/projects/carbon/open-banking-fdx.xml">
     <DCR>
         <!-- number of days -->
         {% if open_banking_fdx.dcr.maximum_duration_period is defined %}
         <MaximumDurationPeriod>{{ open_banking_fdx.dcr.maximum_duration_period }}</MaximumDurationPeriod>
         {% endif %}
          <!-- number of days -->
         {% if open_banking_fdx.dcr.maximum_lookback_period is defined %}
         <MaximumLookbackPeriod>{{ open_banking_fdx.dcr.maximum_lookback_period }}</MaximumLookbackPeriod>
         {% endif %}
          <!-- allowed values are 'private_key_jwt'  and 'tls_client_auth' -->
         {% if open_banking_fdx.dcr.default_token_endpoint_auth_method is defined %}
         <DefaultTokenEndpointAuthMethod>{{ open_banking_fdx.dcr.default_token_endpoint_auth_method }}</DefaultTokenEndpointAuthMethod>
         {% else %}
         <DefaultTokenEndpointAuthMethod>private_key_jwt</DefaultTokenEndpointAuthMethod>
         {% endif %}
    </DCR>
</Server>

