.header-outer{
    width: 100%;
    height: 3.5rem;
    background: var(--header-greadient);
    color: var(--color-font-color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.content-outer{
    width: 100%;
    height: 100%;
}