.backButton {
    align-self: flex-start;
    margin-bottom: 1.25rem; /* 20px */
    padding: 0.625rem 1.25rem; /* 10px 20px */
    background-color: #000000; 
    color: rgb(233, 225, 225);
    border: none;
    border-radius: 0.25rem; /* 4px */
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1); /* 2px 4px */
}

.backButton:hover {
    background-color: #2a2b2c;
}

.button:focus {
    outline: none;
}
